.banner {
  margin-top: 20px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  margin-bottom: 35px;
}

.banner__logo {
  display:flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
}

.banner__logo h1 {
  margin-bottom: -10px;
}

.banner__logo h2 {
  margin-top: -5px;
  margin-left: 10px;
}

.banner__logo img {
  align-self: center;
  flex-shrink: 0;
  margin-top: 40px;
}

.recipe__header {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.recipe__header h1 {
  margin-bottom: 0px;
}

.recipe__header__print {
  margin-bottom: -35px;
}

.recipe__ingredients {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-bottom: 45px;
    margin-top: 35px;
}

.recipe__author {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.recipe__author__content {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.recipe__author__content__text {
  margin-left: 25px;
}

.footer-logo {
  margin-top: -30px;
}



