.banner {
  margin-top: 50px;
}

.banner ul {
  float: right;
  padding-top: 40px;
}
.banner li {
  display: inline;
}

.logo img {
  float: left;
}

.logo h1 {
  font-family: 'Qwigley', cursive;
  font-size: 5.5rem;
  margin-left: 45px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.logo h2 {
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  margin-left: 45px;
  margin-top: 0px;
  padding-top: 0px;
}

.recipe-header {
  padding-top: 25px;
  border-top: 15px solid;
  border-image: url(https://files.slack.com/files-pri/T039KG69K-F04B91DDD/dash-border.png) 35 23 27 26 fill repeat stretch;
}

.recipe-header h1 {
  font-size: 4.5rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.recipe-header p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: gray;
  float: left;
  margin-top: 0px;
  padding-top: 0px;
}

.print {
  float: right;
  padding-top: 50px;
}

.food-pic {
  width: 100%;
}




.recipe-instructions {
  font-family: 'Halant', serif;
  text-indent: 3.0rem;
}

.recipe-ingredients {
  background-image: url('http://i.imgur.com/Tbl1pWm.png');
  background-color: #FFFFE5;
  margin-bottom: 5.0rem;
  font-family: 'Coming Soon', cursive;
}


.recipe-author {
  padding-top: 55px;
  padding-bottom: 50px;
  font-family: 'Halant', serif;
  border-top: 15px solid;
  border-image: url(https://files.slack.com/files-pri/T039KG69K-F04B91DDD/dash-border.png) 35 23 27 26 fill repeat stretch;
}

.recipe-author img {
  float: left;
}

.author-text {
  margin-left: 91px;
  margin-top: -10px;
  margin-right: 80px;
}

.recipe-author h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.recipe-author p {
  margin-top: -5px;
  padding-top: 0px;
}

footer {
  margin-bottom: 5.0rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: gray;
  text-align: center;
  border-top: 2px solid #D4D4D4;
}

.button-like {
  background-color: darkred;
  color: white;
  text-decoration: none;
  padding: 5px;
  float: right;
  font-style: sans serif;
  width: 150px;
  text-align: center;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}


