
.container {
  width: 85%;
  margin: 0 auto;
}

.banner {
  margin-bottom: 50px;
}

.social-icons:nth-child(3) {
  background-color: red;

}

.banner li {
  display: inline;
}

.banner nav {
  float: right;
}

.logo img {
  float: left;
  margin-top: -17px;
  margin-right: 5px;
}

.logo-text {
  line-height: 50%;
}

.logo h1 {
  font-family: 'Qwigley', cursive;
  font-size: 50px;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

.logo h2 {
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.recipe-header {
  border-top: 15px solid;
  border-image: url(https://files.slack.com/files-pri/T039KG69K-F04B91DDD/dash-border.png) 35 23 27 26 fill repeat stretch;
}

.recipe-header h1 {
  font-size: 45px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.recipe-header p {
  padding-top: 0px;
  margin-top: -5px;
  margin-left: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: gray;
  float: left;
}

.print {
  float: right;
}

.food-pic {
  width: 100%;
}

.recipe-instructions {
  font-family: 'Halant', serif;
  text-indent: 35px;
}

.recipe-ingredients {
  background-image: url('http://i.imgur.com/Tbl1pWm.png');
  background-color: #FFFFE5;
  margin-bottom: 50px;
}


.recipe-author {
  padding-top: 55px;
  padding-bottom: 50px;
  font-family: 'Halant', serif;
  border-top: 15px solid;
  border-image: url(https://files.slack.com/files-pri/T039KG69K-F04B91DDD/dash-border.png) 35 23 27 26 fill repeat stretch;
}

.recipe-author img {
  float: left;
}

.author-text {
  margin-left: 91px;
  margin-top: -10px;
}

.recipe-author h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.recipe-author p {
  margin-top: -5px;
  padding-top: 0px;
}

footer {
  margin-bottom: 50px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: gray;
  text-align: center;
  border-top: 2px solid #D4D4D4;
}

.button-like {
  background-color: darkred;
  color: white;
  text-decoration: none;
  padding: 5px;
  float: right;
  font-style: sans serif;
  width: 150px;
  text-align: center;
}
