
.banner li:nth-of-type(1):hover {
  color: #3b5998;
}

.banner li:nth-of-type(2):hover {
  color: #1dcaff;
}

.banner li:nth-of-type(3):hover {
  color: red;
}
.banner li:nth-of-type(4):hover {
  color: green;
}
.banner li:nth-of-type(5):hover {
  color: darkblue;
}

.banner li:nth-of-type(6):hover {
  color: darkred;
}

.banner li:nth-of-type(7):hover, .banner li:nth-of-type(8):hover {
  color: purple;
}

input[type=checkbox]:checked + label{
  text-decoration: line-through;
}

.recipe__author__button-like:hover {
  color: white;
  font-family: 'Patrick Hand', sans-serif;
  text-align: center;
  font-size: 30px;
  height: 50px;
  background-image: url('http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/immune_boosting_foods_slideshow/photolibrary_rm_photo_of_slice_of_grapefruit.jpg');
}

.recipe__header__print p:hover {
  color: black;
}
